.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100%;
  max-height: 80px;
  font-family: $font-main;
  background-color: rgb(4, 3, 27);
  color: white;
  z-index: 100;
  &__title {
    font-size: rem(12);
    text-align: center;
  }
  &__filter {
    font-size: rem(12);
    text-align: center;
  }
  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    &__title {
      font-size: rem(16);
    }
  }

  @include desktop {
    justify-content: space-around;
    &__title {
      font-size: rem(18);
    }
  }
}
