.select__filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin-bottom: 10px;
  @include tablet {
    margin-top: 30px;
  }
  @include desktop {
    padding-top: 5px;
  }
}

.select__input {
  margin-left: 10px;
  &-option {
    font-size: rem(10);
  }
}
