.phone__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-gap: rem(8);
  justify-content: center;
  justify-items: center;
  padding: rem(15);
  max-width: rem(1100);
  margin: 0 auto;
  &-item {
    border-radius: 5px;
    width: rem(150);
    height: rem(200);
    &:hover {
      border: 2px solid gray;
      box-shadow: 9px 2px 48px 7px grey;
      background-color: whitesmoke;
    }
  }

  .phone__image {
    width: 75%;
  }
}
