.phone__image {
  max-width: rem(100);
  max-height: rem(100);
  align-items: center;
}

.phone__information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &-container {
    padding: rem(5);
    font-size: rem(11);

    .phone__title {
      color: black;
      font-size: rem(11);
      margin-bottom: rem(5);
      text-align: center;
    }
    .phone__price {
      color: black;
      font-size: rem(11);
      text-align: center;
    }
  }
}
