.phone__detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: rem(30);
  position: relative;
  top: 90px;

  .btn__return {
    background-color: rgb(0, 0, 0);
    padding: rem(10);
    display: inline-block;
    width: rem(100);
    height: rem(40);
    text-align: center;
    color: rgb(153, 140, 140);
    border-radius: 60px;
    border: 2px solid grey;
    margin: 0 auto;
    margin-top: rem(20);
    font-size: rem(18);
    transition: all 1s ease;
    cursor: pointer;
    &:hover {
      background-color: whitesmoke;
      color: rgb(0, 0, 0);
    }
  }
}

.phone__container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: rem(250);
  padding: rem(10);
  border-radius: 8px;

  img {
    width: 100%;
    max-width: 200px;
    max-height: 300px;
  }
}

.phone__text {
  display: flex;
  flex-direction: column;
  color: black;
  line-height: 1.6;

  h2 {
    margin: 0;
  }
  .phone__title {
    display: flex;
    flex-direction: row;
  }
}
